---
// Supports weights 100-900
// import '@fontsource-variable/gantari'
// Supports weights 300-800
import Schema from "@/components/Schema.astro"
import "@fontsource-variable/open-sans"
import "@fontsource/italiana"

import "@/style/main.css"

import { siteMeta } from "../site.config"
import PageHeader from "@/components/PageHeader.astro"
import PageFooter from "@/components/PageFooter.astro"

type Props = {
  title: string
  description?: string
  image?: string
  path?: any
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
  title,
  description,
  image = siteMeta.image,
  path = Astro.url.pathname,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicons/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />

    <title>{title}</title>
    <Schema />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
			<a
      class="sr-only focus:not-sr-only focus:py-size-xs focus:px-size-xs focus:absolute focus:top-0 focus:w-full bg-dark text-white font-bold focus:block text-center w-full z-10"
      href="#main"
    >
      Skip to content
    </a>
				<PageHeader />
    <main id="main">
					<slot />
				</main>
				<PageFooter />
  </body>
</html>

